{% extends '::base.html.twig' %}

{% block body %}

	<h2>All contacts</h2>

	<table class="table">

		<tr>
			<th>Contact</th>
			<th>Address</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>

		{% for contact in contacts %}

			<tr>
				<td>
					<a href="{{path('coderslab_contact_show', {'id':contact.id})}}">
						{{ contact.name }} {{ contact.surname }}
					</a>
				</td>
				<td>
					{{ contact.getAddress()|default('undefined') }}
				</td>
				<td>
					{{ contact.getPhone()|default('undefined') }}
				</td>	
				<td>
					{{ contact.getEmail()|default('undefined') }}
				</td>												
				<td>
					<a href="{{path('coderslab_contact_delete', {'id':contact.id})}}" class="btn btn-danger btn-xs">
						Remove
					</a>
					<a href="{{path('coderslab_contact_edit', {'id':contact.id})}}" class="btn btn-primary btn-xs">
						Edit
					</a>	
				</td>
			</tr>		

{% else %}
	No contacts.

{% endfor %}

	</table>

	<a href="{{path('coderslab_contact_new')}}" class="btn btn-success">Add new</a>

{% endblock %}